html, body{height:100%;}
.bgimage{
  background-image: url(../img/3041173-poster-p-1-lyft-replacing-its-iconic-mustache-with-a-smaller.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}
.btn_index{
  position:relative;
  display: inline-block;
  left: 55%;
  margin-top:50%;
  background-color:#F400B1;;
}
.logo{
  position: absolute;
  left: 50%;
  margin-top:10%;
  width: 30%;
}
.flag{
  margin-bottom: 60%;
}
.next{
  background-color:#F400B1;;
}
.flecha{
 position: absolute;
}
.prev{
  position: inherit;
}
#codigo{
   color: #F400B1
}

h3,p{
  color: #F400B1;
}
.reg
{
  position:relative;
  margin-right: 10%;
}
.text{
  position:relative;
  margin-right: 10%;
}
.input-field label {
     color: #F400B1;
   }
#input-mail{
   color: #F400B1;
}




